<% title "Session" %>

<p>
  <strong>Prefix:</strong>
  <%=h @session.prefix %>
</p>
<p>
  <strong>Player:</strong>
  <%=h @session.player %>
</p>
<p>
  <strong>File:</strong>
  <%=h @session.file %>
</p>
<p>
  <strong>Mtime:</strong>
  <%=h @session.mtime %>
</p>
<p>
  <strong>Parsed At:</strong>
  <%=h @session.parsed_at %>
</p>

<p>
  <%= link_to "Edit", edit_session_path(@session) %> |
  <%= link_to "Destroy", @session, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", sessions_path %>
</p>


<h3>Hands</h3>
<table>
<% for hand in session_hands = @session.hands.paginate(:page => params[:page], :per_page => 10) %>
<tr><td>
<%=h hand %>
<td><tr/
<% end %>
</table>
<%= will_paginate session_hands %>