<% title "Summary" %>

<p>
  <strong>Ftfile:</strong>
  <%=h @summary.ftfile_id %>
</p>
<p>
  <strong>Position:</strong>
  <%=h @summary.position %>
</p>
<p>
  <strong>Screen Name:</strong>
  <%=h @summary.screen_name %>
</p>
<p>
  <strong>Hands:</strong>
  <%=h @summary.hands %>
</p>
<p>
  <strong>Vpip:</strong>
  <%=h @summary.vpip %>
</p>
<p>
  <strong>Pfrp:</strong>
  <%=h @summary.pfrp %>
</p>
<p>
  <strong>Pre Agg:</strong>
  <%=h @summary.pre_agg %>
</p>
<p>
  <strong>Post Agg:</strong>
  <%=h @summary.post_agg %>
</p>
<p>
  <strong>Poker Edge:</strong>
  <%=h @summary.poker_edge %>
</p>

<p>
  <%= link_to "Edit", edit_summary_path(@summary) %> |
  <%= link_to "Destroy", @summary, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", summaries_path %>
</p>
