<% title "File Monitors" %>

<% if @file_monitors.empty? %>
  <H3 background="red">No hand history monitors appear to be running at this time.</H3>
<% else %>
<table>
  <tr>
  <th>Monitor</th>
  <th>Status</th>
  </tr>
  <% for file_monitor in @file_monitors %>
    <tr>
      <td><%=h file_monitor.name %></td>
      <td style="text-align: center; background-color: <%= file_monitor.status == "up" ? "lightgreen" : "red" %>"><%=h file_monitor.status %></td>
    </tr>
  <% end %>
</table>
<% end %>

<% form_for FileMonitor.new("","") do |f| %>
  <p><%= f.submit "Restart Monitors" %></p>
<% end %>
<p><%= link_to "Terminate Monitors", "/file_monitors/1", :confirm => 'Are you sure you want to stop file monitoring?', :method => :delete %></p>

