<% form_for @ftfile do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :folder %><br />
    <%= f.text_field :folder %>
  </p>
  <p>
    <%= f.label :file %><br />
    <%= f.text_field :file %>
  </p>
  <p>
    <%= f.label :mtime %><br />
    <%= f.datetime_select :mtime %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
