<% title "Ftfile" %>

<p>
  <strong>Folder:</strong>
  <%=h @ftfile.folder %>
</p>
<p>
  <strong>File:</strong>
  <%=h @ftfile.file %>
</p>
<p>
  <strong>Mtime:</strong>
  <%=h @ftfile.mtime %>
</p>

<p>
  <%= link_to "Edit", edit_ftfile_path(@ftfile) %> |
  <%= link_to "Destroy", @ftfile, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", ftfiles_path %>
</p>
